.container {
    height: auto;
    width: auto;
}

@keyframes mymove {
    0% {
        box-shadow: 1px 1px 1px 1px none, -1px -1px 1px 1px none;
    }
    50% {
        box-shadow: 1px 1px 1px 1px #f4af7b, -1px -1px 1px 1px #f4af7b;
    }
    100% {
        box-shadow: 1px 1px 1px 1px none, -1px -1px 1px 1px none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* PAGE 1 */

.page1 {
    position: relative;
    background-image: url('SVGBackgrounds/Page1.svg');
    background-size: cover;
    height: 100vh;
}

.pictureDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 5px solid black; */
}

.text {
    position: absolute;
    color: white;
    font-size: 3vw;
    left: 38%;
    z-index: 2;
    opacity: 0;
}

.animate {
    position: absolute;
    top: 6%;
    width: 34vw;
    height: 7.5%;
    left: 38%;
    z-index: 1;
    animation: mymove 2s linear infinite
}

.text:hover {
    animation: fade 3s linear;
    opacity: 1;
}

.clouds {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 5%;
    z-index: 1;
    /* border: 5px solid black; */
}

.mountains {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* border: 5px solid black; */
}

.mountainDiv1 {
    position: absolute;
    bottom: 0;
    margin-bottom: 4%;
    width: 100%;
    /* border: 5px solid black; */
}

.boyMC1 {
    /* border: 5px solid black; */
    position: relative;
    width: 13%;
    left: 25%;
    z-index: 1;
}

.sun {
    position: absolute;
    top: 15%;
    width: 10%;
    left: 60%;
    /* border: 5px solid black; */
}


/* PAGE 2 */

.page2 {
    position: relative;
    background-image: url('SVGBackgrounds/Page2.svg');
    background-size: cover;
    height: 100vh;
}

.stars {
    position: absolute;
    width: 100%;
    z-index: 1;
    /* border: 5px solid black; */
}

.moon {
    position: absolute;
    top: 5%;
    width: 7%;
    left: 75%;
    /* border: 5px solid black; */
}

.mountainDiv2 {
    position: absolute;
    bottom: 0;
    margin-bottom: 4%;
    width: 100%;
    /* border: 5px solid black; */
}

.boyMC2 {
    /* border: 5px solid black; */
    position: relative;
    width: 13%;
    left: 25%;
    z-index: 1;
}