.image {
    object-fit: contain;
    width: 50vw;
    height: 50vh;
}

.scroll {
    height: 100vh;
}

.background-image {
    position: absolute;
    background: url("./night1.jpg");
    width: 100%;
    height: 1000vh;
    top: 0;
    left: 0;   
}