.background-image {
    object-fit: contain;
    width: 100vw;
    height: 110vh;
    margin: -10px;
}

.image {
    object-fit: contain;
    width: 50vw;
    height: 50vh;
}

.scroll {
    height: 100vh;
}